body, * {
	font-family: "Lato", sans-serif;
	margin: 0;
	color: #777;
}

.h1 {
     margin: 0;
     color: #333;
     font-family: "Georgia", "Cambria", serif;
     font-size: 2em;
     text-align: center;
     padding: 2em 0;
     border-bottom: 1px solid #eee;
 }

.contentbox {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    margin-top: 50px;
    line-height: 1.6em;
}

.serif {
    font-family: "Georgia", "Cambria", serif;
    font-size: 18px;
}

.sidenav {
	height: 100%;
	width: 15%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #fff;
	overflow-x: hidden;
	padding-top: 20px;
}

.sidenav a {
	padding: 6px 0;
	text-decoration: none;
	font-size: 25px;
	color: blue;
	display: block;
}

.sidenav a:hover {
	color: #222;
}

h1 {
	font-size: 25px;
	padding: 6px 0;
}

.container {
	margin-left: 17%;
 /* Same or larger as the width of the sidenav */
	margin-top: 2%;
	font-size: 28px;
 /* Increased text to enable scrolling */
	padding: 0px 10px;
}

.center {
	text-align: center;
}

.extlink {
	font-size: 18px;
	padding-top: 10px;
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}

	.sidenav a {
		font-size: 18px;
	}
}
