<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow">
    <title>{{ PORTFOLIO }}</title>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/device-preview.css">
	
    <!--[if lt IE 9]>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
    <![endif]-->
</head>

<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="menu">
        <div class="pure-menu">
		
		<h1><a href="index.html">HOME</a></h1>

        <h1>DESKTOP</h1>
		<ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="desktop1.html">Sample 1</a></li>
        <li class="pure-menu-item"><a href="desktop2.html">Sample 2</a></li>
		</ul><br />
		
        <h1>EMAIL</h1>
		<ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="email1.html">Sample 1</a></li>
        <li class="pure-menu-item"><a href="email2.html">Sample 2</a></li>
		</ul>
		
        </div>
    </div>

    <div id="main">
			
	{{ content }}
			
            </div>
    </div>
</div>

<script src="ui.js"></script>

</body>
</html>
